# Data assertion Using pyspark

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import col, array, when, array_remove, lit, size, array_contains

specify the files needs to be compared and primary key

In [33]:
    expected_file_path = '/Users/archanagajula/IdeaProjects/pyspark_data_assertion/data/expected_data.csv'
    actual_file_path = '/Users/archanagajula/IdeaProjects/pyspark_data_assertion/data/actual_data.csv'
    primary_key_column = 'vendor_id'

start the spark session

In [34]:
    spark = SparkSession.builder.getOrCreate()
    spark.sparkContext.setLogLevel("ERROR")

read files

In [35]:
    actual_df = spark.read.csv(actual_file_path, sep=',', header=True)
    expected_df = spark.read.csv(expected_file_path, sep=',', header=True)

In [36]:
    print("Count of all records from expected:", expected_df.count())
    print("Distinct Count of records from expected:", expected_df.distinct().count())
    print("Count of all records from actual:", actual_df.count())
    print("Distinct Count of records from actual:", actual_df.distinct().count())

Count of all records from expected: 7
Distinct Count of records from expected: 7
Count of all records from actual: 7
Distinct Count of records from actual: 7

In [37]:
    common_records_df = expected_df.intersect(actual_df)
    print("Count of records that are in both:", common_records_df.count())

Count of records that are in both: 4

In [38]:
    only_expected_df = expected_df.subtract(actual_df)

    only_actual_df = actual_df.subtract(expected_df)

In [39]:
    print('Count of records that are only in expected:',only_expected_df.count())

Count of records that are only in expected: 3

In [40]:
    print('Count of records that are only in actual:',only_actual_df.count())

Count of records that are only in actual: 3

In [41]:
    print("Some non common records from expected:")
    expected_non_matching_records = only_expected_df.join(only_actual_df, on=primary_key_column, how='left_anti').select(
        only_expected_df["*"])
    expected_non_matching_records.orderBy(F.col(primary_key_column).asc()).show(5, False)

Some non common records from expected:
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|vendor_id|pickup_datetime    |dropoff_datetime   |passenger_count|trip_distance|rate_code_id|store_and_fwd_flag|pickup_location_id|dropoff_location_id|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|7        |2019-01-27 18:49:51|2019-01-27 19:49:51|1              |1.3          |1           |N                 |144               |45                 |2           |10.5       |0.0  |null   |null      |null        |null                 |null        |null                |
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+

In [42]:
    print("Some non common records from actual:")
    actual_non_matching_records = only_actual_df.join(only_expected_df, on=primary_key_column, how='left_anti').select(
        only_actual_df["*"])
    actual_non_matching_records.orderBy(F.col(primary_key_column).asc()).show(5, False)

Some non common records from actual:
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|vendor_id|pickup_datetime    |dropoff_datetime   |passenger_count|trip_distance|rate_code_id|store_and_fwd_flag|pickup_location_id|dropoff_location_id|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|8        |2019-01-26 18:20:17|2019-01-26 18:39:27|1              |1.3          |1           |N                 |144               |45                 |2           |10.5       |0.0  |0.5    |0.0       |0.0         |0.3                  |11.3        |0.0                 |
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+

compare records column wise and adding non matching column names into array

In [43]:
    mismatch_columns = [when(expected_df[c] != actual_df[c], lit(c)).otherwise("") for c in expected_df.columns]
    select_exp = [col(primary_key_column), array_remove(array(*mismatch_columns), "").alias("mismatch_columns")]
    mismatch_columns_df = expected_df.join(actual_df,
                                           on=primary_key_column, how='inner').select(select_exp)

In [44]:
    print('Count of records having mismatch:', mismatch_columns_df.filter(size("mismatch_columns") > 0).count())
    print('Count of records matching:', mismatch_columns_df.filter(size("mismatch_columns") == 0).count())

Count of records having mismatch: 2
Count of records matching: 4

In [45]:
    mismatch_columns_df.filter(size("mismatch_columns") > 0).show(truncate=False)

+---------+--------------------------------+
|vendor_id|mismatch_columns                |
+---------+--------------------------------+
|3        |[passenger_count, trip_distance]|
|6        |[pickup_datetime]               |
+---------+--------------------------------+

In [46]:
actual_df.createOrReplaceTempView('actual_table')

In [47]:
spark.sql("select * from actual_table").show()

+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code_id|store_and_fwd_flag|pickup_location_id|dropoff_location_id|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|        1|2019-01-15 03:36:12|2019-01-15 03:42:19|              1|          1.0|           1|                 N|               230|                 48|           1|        6.5|  0.5|    0.5|      1.95|         0.0|                  0.3|        9.75|                null|
|        2|2019-01-25 18:20:32|2019-01-25 18:26:55|              1|          0.8|           1|                 N|               112|                112|           1|        6.0|  1.0|    0.5|      1.55|         0.0|                  0.3|        9.35|                 0.0|
|        3|2019-01-05 06:47:31|2019-01-05 06:52:19|              2|          2.0|           1|                 N|               107|                  4|           2|        6.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         6.8|                null|
|        4|2019-01-09 15:08:02|2019-01-09 15:20:17|              1|          2.5|           1|                 N|               143|                158|           1|       11.0|  0.0|    0.5|       3.0|         0.0|                  0.3|        14.8|                null|
|        5|2019-01-25 18:49:51|2019-01-25 18:56:44|              1|          0.8|           1|                 N|               246|                 90|           1|        6.5|  1.0|    0.5|      1.65|         0.0|                  0.3|        9.95|                 0.0|
|        6|2019-01-26 18:20:17|2019-01-26 18:39:27|              1|          1.3|           1|                 N|               144|                 45|           2|       10.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.3|                 0.0|
|        8|2019-01-26 18:20:17|2019-01-26 18:39:27|              1|          1.3|           1|                 N|               144|                 45|           2|       10.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.3|                 0.0|
+---------+-------------------+-------------------+---------------+-------------+------------+------------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+